@{
    ViewData["Title"] = "CafeWorkspaceBooking";
}

<div class="text-align" style="height: 100vh;">
    <h2>Lolita Coffee Xin Chào</h2>
    <button class="btn btm-success m-5"> <a asp-action="SendEmail">Send Mail</a></button>
</div>
