<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-sm ">
        <section class="tm-welcome-section">
            <div class="container tm-position-relative">
                <div class="tm-lights-container">
                    <img src="~/img/light.png" alt="Light" class="light light-1">
                    <img src="~/img/light.png" alt="Light" class="light light-2">
                    <img src="~/img/light.png" alt="Light" class="light light-3">
                </div>
                <div class="row tm-welcome-content">
                    <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="~/img/header-line.png" alt="" class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img src="~/img/header-line.png" alt="" class="tm-header-line"></h2>
                    <h4 class="gold-text tm-welcome-header-2">Lolita Coffe</h4>
                </div>
                <img src="~/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
            </div>
        </section>
        <div class="my-5" style="height: 80px"></div>
        <div class="row pl-5" style="margin-left: 5px">
            <div class="h4"><i>Kính gửi: NGuyen Quoc Duy</i></div>
            <div class="row pt-2 py-1" style="margin-left: 1px">Lolita xin cảm ơn quý khách đã tin tưởng chọn dịch vụ của Lolita. </div>
            <div class="row py-1" style="margin-left: 1px">Lolita thông báo về dịch vụ .............{đặt phòng- nhận phòng} của quý khách {đã được duyệt - bị từ chối(lí do k nhận phòng đền bù)} </div>

            <div class="row  mt-5  py-2" style="margin-left:1px">Thông tin dịch vụ:</div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Dịch vụ</th>
                            <th>Thời gian nhận</th>
                            <th>Thời gian trả</th>
                            <th>Trạng thái</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Đặt phòng</td>
                            <td>20.24.2000</td>
                            <td>20.24.2000</td>
                            <td>Đã duyệt</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
                <div class ="row">
                    Chúng tôi mong bạn có một thời gian làm việc hiệu quả và thoải mái tại chỗ làm việc của chúng tôi.
                    Nếu có bất kỳ câu hỏi hoặc yêu cầu đặc biệt nào, đừng ngần ngại liên hệ với chúng tôi qua địa
                    chỉ email hoặc số điện thoại được cung cấp dưới đây.</div>
                <div class="h4">Thông Tin Liên Hệ:</div>
                <div class="row">
                    Email: LolitaCoffee@gmail.com
                </div>
                <div class="row">
                    Số Điện Thoại: 0901007221
                </div>
                <div class="row">
                    Chúng tôi mong bạn có một trải nghiệm làm việc tuyệt vời và chúc bạn một ngày tốt lành!
                </div>
                <div class="row mb-5">
                    Trân trọng,
                </div>
                <div class="row mt-5">
                    <span>Lưu ý:</span>
                    <div>
                        Ngày đặt phòng
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>